@import 'tailwindcss';

@theme {
	--color-background: #222;
	--color-foreground: #fff;

	--spacing-em: 1em;
	--spacing-ch: 1ch;
	--spacing-lh: 1lh;
}

@layer base {
	html {
		@apply bg-background text-foreground;
	}
}
